.resource-manager-top {
  height: 70px;
  position: relative;
}

.resource-manager-top span {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  color: #333;
  line-height: 70px;
}

.resource-manager-top p {
  padding-left: 300px;
  padding-top: 18px;
  text-align: center;
}

.resource-manager-content {
  border: 1px solid #e3e3e3;
  position: relative;
}

.resource-manager-content .resource-tree {
  width: 300px;
  padding-top: 10px;
  background: #f0f5fb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.resource-manager-content .resource-tree input {
  background: red;
}

.resource-manager-content .resource-right {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
}

.resource-manager-content .resource-right h3 {
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  background: #4db383;
  color: #fff;
}

.resource-manager-content .resource-right .manager-list {
  padding: 30px 20px 0;
}

.resource-manager-content .resource-right .manager-list span {
  font-size: 14px;
  color: #333;
  line-height: 40px;
  margin-right: 20px;
}

.resource-manager-content .resource-right .manager-list span input {
  vertical-align: middle;
  margin-right: 5px;
}
