<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>神话博客后台管理系统</title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/css/pkg/admin_0b1868c.css" />
</head>
<body>
<div id="container"></div>
<script src="/js/pkg/lib_57124f1.js"></script>
<script type="text/javascript">/*resourcemap*/
require.resourceMap({
  "res": {
    "src/js/actions/user/index": {
      "url": "/js/actions/user/index_e2ff16d.js",
      "type": "js",
      "pkg": "p8"
    },
    "src/js/actions/user/home": {
      "url": "/js/actions/user/home_1611d45.js",
      "type": "js",
      "pkg": "p8"
    },
    "src/js/actions/user/list": {
      "url": "/js/actions/user/list_e4e64fa.js",
      "type": "js",
      "pkg": "p8"
    },
    "src/js/actions/user/page": {
      "url": "/js/actions/user/page_8b1c1bf.js",
      "type": "js",
      "deps": [
        "src/js/actions/user/index"
      ],
      "pkg": "p8"
    },
    "src/js/containers/user/index": {
      "url": "/js/containers/user/index_4ba0920.js",
      "type": "js",
      "deps": [
        "src/js/actions/user/index"
      ],
      "pkg": "p7"
    },
    "src/js/containers/user/home": {
      "url": "/js/containers/user/home_00c8049.js",
      "type": "js",
      "deps": [
        "src/js/actions/user/index",
        "src/js/actions/user/home"
      ],
      "pkg": "p7"
    },
    "src/js/containers/user/list": {
      "url": "/js/containers/user/list_6e3073f.js",
      "type": "js",
      "deps": [
        "src/js/actions/user/index",
        "src/js/actions/user/list"
      ],
      "pkg": "p7"
    },
    "src/js/containers/user/page": {
      "url": "/js/containers/user/page_cdf0e27.js",
      "type": "js",
      "deps": [
        "src/js/actions/user/page"
      ],
      "pkg": "p7"
    },
    "src/js/user-router": {
      "url": "/js/user-router_5aeabb6.js",
      "type": "js",
      "deps": [
        "src/js/reducers/user/index",
        "src/js/containers/user/index",
        "src/js/containers/user/home",
        "src/js/containers/user/list",
        "src/js/containers/user/page"
      ],
      "pkg": "p7"
    },
    "src/js/reducers/user/index": {
      "url": "/js/reducers/user/index_c6dace0.js",
      "type": "js",
      "deps": [
        "src/js/reducers/user/home",
        "src/js/reducers/user/list",
        "src/js/reducers/user/page"
      ],
      "pkg": "p11"
    },
    "src/js/reducers/user/home": {
      "url": "/js/reducers/user/home_f0aef13.js",
      "type": "js",
      "pkg": "p11"
    },
    "src/js/reducers/user/list": {
      "url": "/js/reducers/user/list_d183618.js",
      "type": "js",
      "pkg": "p11"
    },
    "src/js/reducers/user/page": {
      "url": "/js/reducers/user/page_536c109.js",
      "type": "js",
      "pkg": "p11"
    }
  },
  "pkg": {
    "p8": {
      "url": "/js/pkg/user-actions_8618dac.js",
      "type": "js"
    },
    "p7": {
      "url": "/js/pkg/user-router_b59f998.js",
      "type": "js"
    },
    "p11": {
      "url": "/js/pkg/user-reducers_109489d.js",
      "type": "js"
    }
  }
});</script>
<script type="text/javascript" src="/js/pkg/common-utils_1bcb3c9.js"></script>
<script type="text/javascript" src="/js/pkg/common-actions_9393900.js"></script>
<script type="text/javascript" src="/js/pkg/admin-actions_bfd5640.js"></script>
<script type="text/javascript" src="/js/pkg/admin-reducers_eaf1765.js"></script>
<script type="text/javascript" src="/js/pkg/admin-router_9aff2a9.js"></script>
</body>
</html>