.tcc-patrol-feedback{
    width: 100%;
    li{
        width:100%;
        padding:17px 0;
        font-size: 14px;
        b{
            width: 80px;
            margin-right: 12px;
            color: #666;
            display: inline-block;
        }
        span{
            color: #bcbcbc;
            display: inline-block;
        }
    }
}
