@charset "UTF-8";
html, body {
  height: 100%;
}

.contioner {
  height: 100%;
  width: 100%;
  margin-top: -60px;
  padding-top: 60px;
  float: right;
}

#container {
  height: 100%;
}

.h100 {
  height: 100%;
}

.top-content {
  width: 100%;
  height: 60px;
  background: #66d354;
  background-size: 100% 100%;
  padding: 0 26px;
  z-index: 99;
  position: relative;
}

.top-content .left-icon {
  display: inline-block;
  background: url("../images/public/top-left-icon.png");
  background-size: 100% 100%;
  width: 192px;
  height: 32px;
  margin-top: 13px;
  float: left;
}

.top-content .right {
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 16px;
  padding-right: 10px;
}

.top-content .right ul {
  display: none;
}

.top-content .right:hover ul {
  display: block;
}

.top-content .right:hover {
  background-color: #4bba39;
}

.top-content .right span {
  display: inline-block;
  vertical-align: middle;
}

.top-content .right .user-icon {
  background: url("../images/public/top-right-user.png");
  background-size: 100% 100%;
  width: 25px;
  height: 24px;
  margin-left: 10px;
  margin-right: 5px;
}

.top-content .right .user-name {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}

.top-content .right .right-down {
  background: url("/images/public/top-right-down.png") center center no-repeat;
  background-size: 11px 6px;
  width: 15px;
  height: 24px;
  line-height: 24px;
}

.top-content .right .user-select {
  width: 100%;
  position: absolute;
  top: 59px;
  left: 0;
}

.top-content .right .user-select ul {
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.top-content .right .user-select ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #333;
  background: #f2fff0;
  border-bottom: 1px solid #dcdcdc;
}

.top-content .right .user-select ul li:hover {
  background: #d1eecc;
}

.top-content .right .user-select ul li:last-child {
  border: 0;
}

.left-menu {
  width: 14%;
  height: 100%;
  background-color: #2c3b43;
  margin-top: -60px;
  padding-top: 60px;
  float: left;
}

.left-menu .current {
  background: #4bba39;
}

.center-content {
  width: 100%;
  height: 100%;
  background: #f1f2f4;
  float: left;
  padding: 0 16px 24px 16px;
}

.center-content .center-top-content {
  background-color: #f1f2f4;
  padding: 18px 0 12px 0;
  font-size: 16px;
}

.center-content .center-top-content a {
  color: #4bba39;
}

.center-content .center-top-content a + span {
  color: #4bba39;
}

.center-content .center-top-content .title {
  font-size: 16px;
  color: #3fb3eb;
}

.center-content .center-top-content .cur {
  color: #666;
}

.center-content .center-top-content .right-cont {
  float: right;
  display: inline-block;
  font-size: 14px;
  color: #378cbe;
  cursor: pointer;
  color: #4bba39;
}

.center-content .show-content {
  /*background: #fff;*/
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.home-content {
  width: 100%;
  height: 100%;
  background: #f1f2f4;
  float: left;
}

.height100p {
  height: 100%;
  overflow-y: auto;
}

.height100pY {
  min-height: 100%;
  /*overflow-y: auto;*/
  padding-bottom: 30px;
  background: #fff;
}

.height100pY.plr26 {
  border: 1px solid #e3e3e3;
  padding-left: 26px;
  padding-right: 26px;
  background: #fff;
}

.editPassword-error {
  font-size: 12px;
  color: #ff4141;
  margin-left: 4px;
  padding-left: 70px;
}

.editPassword-error span {
  width: 16px;
  height: 14px;
  background: url("../images/login/error-icon.png");
  background-size: 100% 100%;
  display: inline-block;
}

.left-menu-ztree li a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.left-menu-ztree li a .button.ico_open {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
  width: 12px;
  height: 8px;
  background: url("../images/public/up.png");
  background-size: 100% 100%;
}

.left-menu-ztree li a .button.ico_close {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
  width: 12px;
  height: 8px;
  background: url("../images/public/down.png");
  background-size: 100% 100%;
}

.left-menu-ztree li span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  height: 26px;
}

.left-menu-ztree li span .button.ico_open {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
  width: 12px;
  height: 8px;
  background: url("../images/public/up.png");
  background-size: 100% 100%;
}

.left-menu-ztree li span .button.ico_close {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
  width: 12px;
  height: 8px;
  background: url("../images/public/down.png");
  background-size: 100% 100%;
}

.left-menu-ztree li ul {
  padding-left: 18px;
}

.left-menu-ztree li a.curSelectedNode {
  background-color: #4bba39;
}

.menu-icon-role {
  background: url("/images/public/left-menu-role.png") center center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.menu-icon-user {
  background: url("/images/public/left-menu-resources.png") center center no-repeat;
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

ul.top-menu {
  width: 60%;
  float: left;
  margin-left: 50px;
  text-align: center;
}

ul.top-menu li {
  float: left;
  position: relative;
}

ul.top-menu li a {
  display: block;
}

ul.top-menu li ul {
  position: absolute;
  margin-left: 0;
}

ul.top-menu > li > a {
  width: 100px;
  height: 60px;
  line-height: 60px;
  color: #fff;
}

ul.top-menu > li:hover {
  background: #4bba39;
}

ul.top-menu > li ul {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

ul.top-menu > li ul li {
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dcdcdc;
  background: #d1eecc;
}

ul.top-menu > li ul li ul {
  top: 0;
  left: 129px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

ul.top-menu > li ul li ul li {
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dcdcdc;
  background: #f2fff0;
}

ul.top-menu > li ul li ul li a {
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  text-align: left;
  padding: 0 15px;
}

ul.top-menu > li ul li ul li:hover {
  background: #d1eecc;
}

ul.top-menu > li > ul {
  left: 0;
  top: 59px;
  background: #f2fff0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

ul.top-menu > li > ul li {
  border: 0;
}

ul.top-menu > li > ul > li > a {
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  padding-left: 35px;
  text-align: left;
  background: url("/images/public/subMenuArrow.png") 90% center no-repeat;
}

ul.top-menu > li > ul > li > a:only-child {
  background-image: none;
}

ul.top-menu > li.System > ul > li {
  border-bottom: 1px solid #dcdcdc;
  background: url("/images/public/subMenu-icon.png") 10px center no-repeat;
}

ul.top-menu > li.System > ul > li:hover {
  background: #d1eecc url("/images/public/subMenu-icon.png") 10px center no-repeat;
}

ul.top-menu > li.System > ul > li:last-child {
  border: 0;
}

ul.top-menu > li.Customer > ul > li {
  border-bottom: 1px solid #dcdcdc;
  background: url("/images/public/subMenu-icon1.png") 10px center no-repeat;
}

ul.top-menu > li.Customer > ul > li:hover {
  background: #d1eecc url("/images/public/subMenu-icon1.png") 10px center no-repeat;
}

ul.top-menu > li.Customer > ul > li:last-child {
  border: 0;
}

ul.top-menu > li.HelpLoan > ul > li {
  border-bottom: 1px solid #dcdcdc;
  background: url("/images/public/zhudai.png") 10px center no-repeat;
}

ul.top-menu > li.HelpLoan > ul > li:hover {
  background: #d1eecc url("/images/public/zhudai.png") 10px center no-repeat;
}

ul.top-menu > li.HelpLoan > ul > li:last-child {
  border: 0;
}

ul.top-menu > li.ReportForm > ul > li {
  width: 160px;
  border-bottom: 1px solid #dcdcdc;
  background: url("/images/public/baobiao.png") 10px center no-repeat;
}

ul.top-menu > li.ReportForm > ul > li:hover {
  background: #d1eecc url("/images/public/baobiao.png") 10px center no-repeat;
}

ul.top-menu > li.ReportForm > ul > li:last-child {
  border: 0;
}

ul.top-menu > li.ReportForm > ul > li > ul {
  left: 160px;
}

/*input、 textarea placeholder css样式*/
.dialog-body input::-moz-placeholder, .dialog-body textarea::-moz-placeholder {
  color: #bbbbbb;
}

.dialog-body input:-ms-input-placeholder, .dialog-body textarea:-ms-input-placeholder {
  color: #bbbbbb;
}

.dialog-body input::-webkit-input-placeholder, .dialog-body textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}

/*
 
 * public form css begin
 * 
 * */
.pub-form-top {
  padding-top: 40px;
  padding-bottom: 30px;
}

.pub-form-top ul {
  width: 100%;
  float: left;
}

.pub-form-top ul li {
  width: 300px;
  height: 34px;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.pub-form-top ul li span {
  width: 75px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-size: 14px;
  line-height: 34px;
  color: #666666;
  margin-right: 10px;
}

.pub-form-top ul li span.zhi {
  width: 24px;
}

.pub-form-top ul li input {
  vertical-align: middle;
  margin-left: 0;
  font-size: 12px;
  border: 1px solid #e3e3e3;
}

.pub-form-top ul li .form-select {
  display: inline-block;
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.pub-form-top ul li .departMent-tree-wrapper {
  margin-right: 0;
  margin-left: 0;
  float: none;
  text-align: left;
}

.pub-form-top ul li .departMent-tree-wrapper ul {
  float: none;
}

.pub-form-top ul li .departMent-tree-wrapper ul li {
  width: 100%;
  margin: 0;
  float: none;
  height: auto;
}

.pub-form-top ul li .departMent-tree-wrapper ul li span {
  text-align: left;
}

.pub-form-top .pub-form-btns {
  width: 100%;
}

.pub-form-top .pub-form-btns .left {
  float: left;
}

.pub-form-top .pub-form-btns .right {
  float: right;
}

.form-content-wrap {
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding-top: 22px;
}

.form-content-wrap .form-table-wrap {
  width: 100%;
  overflow-x: auto;
}

.form-content-wrap .form-table-wrap table {
  width: 100%;
}

.form-content-wrap .form-table-wrap table td.f-yellow {
  color: #eca23a;
}

.form-content-wrap .form-table-wrap table td.f-green {
  color: #4bba39;
}

.form-content-wrap .form-table-wrap table td.f-red {
  color: #ed2655;
}

.form-content-wrap .form-table-wrap table td[data-show="已完成"] {
  color: #4bba39;
}

.form-content-wrap .form-table-wrap table td[data-show="待完成"] {
  color: #eca23a;
}

.form-content-wrap .form-table-wrap table td[data-show="已关闭"] {
  color: #ed2655;
}

.form-content-wrap .form-table-wrap table td button {
  width: 70px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  margin: 0 5px;
}

.form-content-wrap .form-table-wrap table td button[data-show="已关闭"], .form-content-wrap .form-table-wrap table td button[data-show="待完成"] {
  display: none;
}

/*
 
 * public form css end
 * 
 * */
.text-c {
  text-align: center;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.ptb15 {
  padding: 15px 0;
}

/* 隐藏日历月份里的天数容器 */
.select-data-month .ui-datepicker-calendar {
  display: none;
}
