html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body { 
    margin: 0; 
    font-size: 16px;
    color: #000; 
    background-color: white; 
    height: 100%; 
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch; 
    font-family: 'Microsoft Yahei';
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0px;
    padding: 0px;
    zoom: 1;
    box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset !important;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0;word-wrap: break-word;word-break: break-all; }

html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; outline: none;}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }


/*input、 textarea placeholder css样式*/
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; font-size: 12px; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc;font-size: 12px; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; font-size: 12px; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
em,i {font-style:normal;}
input,textarea,button {-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;-webkit-overflow-scroll:touch;-webkit-user-select:auto;-webkit-touch-callout:auto;outline: none;}
button:active{
	outline: none;
}
button,.btn {
    cursor: pointer;
}


/*浮动*/
.fl{ float:left;}
.fr{ float:right;}
/*清除浮动*/
.clear { height:0; clear:both; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/*文字对齐*/
.txt-left{
	text-align: left;
}
.txt-center{
	text-align:center;
}
.txt-right{
	text-align:right;
}
/*显示隐藏*/
.hide{
	display: none;
}
.show{
	display: block;
}

/*form input select textArea chechbox radio 宽度样式*/
.form-group{
	margin-bottom: 15px;
	.form-span{
        margin-left: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .form-span:first-child{
        margin-left: 0;
    }
}
.form-lable{
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.radio-inline, .checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url("/images/form/grey.png") no-repeat;
	border: none;
	cursor: pointer;
}
input[type="checkbox"]{
	background-position: 0 0;
}
input[type="checkbox"]:hover{
	background-position: -20px 0;
}
input[type="checkbox"]:checked{
	background-position: -40px 0;
}
input[type="radio"]{
	background-position: -100px 0;
	border-radius: 50%;
	overflow: hidden;
}
input[type="radio"]:hover{
	background-position: -120px 0;
}
input[type="radio"]:checked{
	background-position: -140px -0px;
}
input[type="text"],input[type="date"],input[type="password"],select{
	display: inline-block;
	width: 200px;
	height: 34px;
	padding: 0 12px;
	font-size: 12px;
	line-height: 34px;
	color: #333;
	background-color: #fff;
	background-image: none;
	border:1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-left:5px;
}
input:focus{
	border-color:#949292;
}
button,
input[type="button"]{
	display: inline-block;
	padding: 0 18px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 5px;
	margin-right: 20px;
	background: #66d354;
	cursor: pointer;
	border:0;	
}
button.bg-yellow,
input[type="button"].bg-yellow{
	background: #efad4d;
}
button:hover,
input[type="button"]:hover{
	background: #53c242;
}
button.bg-yellow:hover,
input[type="button"].bg-yellow:hover{
	background: #e4a03d;
}
/* table */
table{
	width: 100%;
}
table thead tr{
	background: #efefef;
}
table thead th,
table tbody td{
	padding:12px 15px;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	border:1px solid #dcdcdc;
}
table thead th{
    color: #666;
    text-align: left;
}
table thead th{
	font-weight: bold;
	font-size: 14px;
}
table tbody tr:nth-child(2n){
	background: #f8f8f8;
}
table tbody tr:nth-child(2n+1){
	background: #fff;
}
table tbody tr:hover{
	background: #f5f5f5;
}

/*栅格化布局*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	position: relative;
	min-height: 1px;
	float: left;
}

.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-20 {
	width: 20%;
}

/* 容器 */
.wrapper{
    height: 100%;
    background: #ecf0f5;
}

/* 头部登录信息begin */
.header{
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100px;
}
.header .logo{
   width: 50px; 
}
.header .logo{
    float: left;
    width: 230px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    overflow: hidden;
    border-bottom:0 solid transparent;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition:width .3s ease-in-out;
    -o-transition:width .3s ease-in-out;
    transition:width .3s ease-in-out;    
    background-color: #367fa9;
}
.header .logo .logo-lg{font-size: 16px;}
.main-header .logo .logo-lg b{
    font-weight: 700;
}
.main-header .logo:hover{background-color:#357ca5}
.header .navbar{
    margin-left: 230px;
    min-height: 50px;
    background: #3c8dbc;
    position: relative;
}
.header .navbar .icon-menu{
    //float: left;
    position: absolute;
    left: 0;
    top:0;
    padding: 18px;
    color: #fff;
    font-size: 12px;
    font-family: fontAwesome;
    cursor: pointer;
}
.header .navbar .icon-menu:hover{
    background: #367fa9;
    text-decoration: underline;
}
.header .sidebar-toggle:hover{color: #fff;}

.header .sidebar-toggle .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.header li.user-header{background-color:#3c8dbc}
.content-header{background:transparent}
.skin-blue .wrapper,.skin-blue .main-sidebar,.skin-blue .left-side{background-color:#222d32;}
.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a{color:#fff}
.header .logo>.logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px
}
@media (min-width:768px) {
    .navbar-toggle {
        display: none
    }
}
.navbar-custom-menu{position: absolute;right: 0;top:0;}
.navbar-nav {
    margin: 7.5px -15px
}
.navbar-nav>li>a {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #fff;
}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.navbar-nav .open .dropdown-menu .dropdown-header,
.navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px
}
.navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-nav .open .dropdown-menu>li>a:hover {
    background-image: none
}
.navbar-nav {
    float: left;
    margin: 0
}
.navbar-nav>li {
    float: left
}
.navbar-nav a .icon-iconfontnaoling{
    margin-right: 3px;
    font-size: 16px;
}
/* 头部登录信息end  */

/* 左侧导航栏begin */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    background: #222d32;
}
.sidebar .user-panel{
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.sidebar .user-panel .pull-left{float: left;}
.sidebar .user-panel>.image>img{
    width: 45px;
    height: 100%;
    border-radius: 50%;
}
.sidebar .user-panel>.info, .skin-blue .user-panel>.info>a{
    color: #fff;
}
.sidebar .user-panel>.info{
    position: absolute;
    left: 55px;
    padding: 5px 5px 5px 15px;
    line-height: 20px;
}
.sidebar .user-panel>.info>p{ font-weight: 600;}
.sidebar .sidebar-menu>li{
    position: relative;
}
.sidebar .sidebar-menu .item a.wa{
    position: relative;
    display: block;
    padding: 12px 5px 12px 31px;
    border-left: 3px solid transparent;
    color: #b8c7ce;
}
.sidebar .sidebar-menu .item a.wa .iconfont{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-top: -7px;
}
.sidebar .sidebar-menu .item a.wa .iconfont:before{
    color: #fff;
    font-size: 12px;
}
.sidebar .sidebar-menu .item:hover a.wa,.sidebar .sidebar-menu .item .active>a{
    border-left-color: #3c8dbc;
    background: #1e282c;
    color: #fff;
}
.sidebar .sidebar-menu .item .submenu{
    
    background: #2c3b41;
}
.sidebar-menu .item .submenu>li>a{
    padding: 5px 5px 5px 15px;
    display: block;
    color: #8aa4af;
    font-size: 14px;
}
.sidebar-menu .item .submenu li a i.icon-shape:before{
    font-size: 10px;
}
.sidebar-menu .item .submenu>li>a:hover{color: #fff;}
.sidebar-menu .item .submenu li a:hover i.icon-shape:before{color: #fff;}
.sidebar-menu .item .submenu li a i.icon-shape{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    color: #8aa4af;
    font-size: 14px;
}

/* 左侧导航栏end */

/* 右侧容器begin */
.wrap-r{
    min-height: 363px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 230px;
    background: #ecf0f5;
}

.main{
    padding: 15px;
}

.content{
    position: relative;
    min-height: 250px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
/* 右侧容器end */

/* 图表加载进度条 */
#cloading{
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    overflow: hidden;
    background: url(../images/loading.gif) no-repeat;
    z-index: 11;
}
#billImg{
    width:100%;
}

.checkBrowserWrap{
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    height: 80px;
}
.checkBrowserWrap div{
    position: absolute;
    top:0;
    left:0;
    height:80px;
    background: #fff;
    opacity: 0.6;
}
.checkBrowserWrap p{
     text-align: center;
    height: 80px;
    position: absolute;
    top:0;
    left:0;
 }
.checkBrowserWrap p a{
    text-align: center;
    line-height: 80px;
    color: red;
    font-size: 18px;
    display: block;
}
.nav-errer-msg{
    margin: 0 auto;
    text-align: center;
    a{
      line-height: 50px;
      color: #da3939;
        font-size: 18px;
    }
}
.mb10{
    margin-bottom: 10px;
}


.mr15{
   margin-right: 15px; 
}
