/*
通用分页插件样式
*/
.pagination-wrap{
   clear: both;
   margin-top:20px;
   &>.page-show-left{
     float: right;
   }
   & select{
     width: 70px;
     height: 26px;
     line-height: 26px;
     margin-right: 6px;
   }
   span{
      cursor: pointer;
      float: left;
      padding: 3px 10px 3px 10px;
      margin-right: 5px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      font-size: 14px;
       border:1px solid #ccc;
       background-color:#FFF;
       color:#666666;
      &.disable-hover{
        cursor: auto;
         border:1px solid #e7e7e7;
         background-color:#FFF;
         color:#DFDFDF;
      }
      &.curr{
        border: 1px solid #61c351;
        background: #effdec;
        color: #4bba39;
      }
      &.nav:hover{
        border:1px solid #66d354;
        background-color:#66d354;
        color:#fff;
      }
      &.page-info{
        float: left;
        cursor: auto;
        border:none;
      }
   }
}